.fediverse_icon {
    width: 16px;
    height: 16px;
    vertical-align: -0.125em;
}

span.score {
    padding-right: 5px;
}

.communities_menu {
    width: 60vw;
}
.communities_menu_body {
  .dropdown-item {
    min-width: 10vw;
  }
}

.nav-tabs {
    word-break: keep-all;
}
