<div class="d-xl-none">
  <select class="form-control form-select navigate_on_change" name="filter_by">
    {% if not current_user.is_anonymous -%}
      {% if enable_mod_filter -%}
      <option value="/home/{{ sort }}/moderating" aria-label="{{ _('Posts from communities you moderate') }}" {{ 'selected'  if view_filter == 'moderating' }}>{{ _('Moderating') }}</option>
      {% endif -%}
      <option value="/home/{{ sort }}/subscribed" aria-label="{{ _('Posts from joined communities') }}" {{ 'selected'  if view_filter == 'subscribed' }}>{{ _('Subscribed') }}</option>
    {% endif -%}
    <option value="/home/{{ sort }}/local" aria-label="{{ _('Posts on this instance') }}" {{ 'selected'  if view_filter == 'local' }}>{{ _('Local') }}</option>
    <option value="/home/{{ sort }}/popular" aria-label="{{ _('Posts from popular communities') }}" {{ 'selected'  if view_filter == 'popular' }}>{{ _('Popular') }}</option>
    <option value="/home/{{ sort }}/all" aria-label="{{ _('No filter') }}" {{ 'selected'  if view_filter == 'all' }}>{{ _('All') }}</option>
  </select>
</div>
<div class="d-none d-xl-block view_filter btn-group mt-1 mb-2" aria-label="{{ _('Post filters: ') }}">
  <button id="viewFilterDropdown" type="button" class="btn dropdown-toggle px-2 py-2 {{ 'btn-primary' if view_filter in ['subscribed','moderating','local','popular','all'] else 'btn-outline-secondary' }}" data-bs-toggle="dropdown" aria-expanded="false">
    {%- if view_filter == 'moderating' -%}
      {{ _('Moderating') }}
    {%- elif view_filter == 'subscribed' -%}
      {{ _('Subscribed') }}
    {%- elif view_filter == 'local' -%}
      {{ _('Local') }}
    {%- elif view_filter == 'popular' -%}
      {{ _('Popular') }}
    {%- else -%}
      {{ _('All') }}
    {%- endif -%}
  </button>
  <ul class="dropdown-menu" aria-labelledby="viewFilterDropdown">
    {% if not current_user.is_anonymous and enable_mod_filter %}
    <li><a class="dropdown-item" href="/home/{{ sort }}/moderating">{{ _('Moderating') }}</a></li>
    {% endif %}
    {% if not current_user.is_anonymous %}
    <li><a class="dropdown-item" href="/home/{{ sort }}/subscribed">{{ _('Subscribed') }}</a></li>
    {% endif %}
    <li><a class="dropdown-item" href="/home/{{ sort }}/local">{{ _('Local') }}</a></li>
    <li><a class="dropdown-item" href="/home/{{ sort }}/popular">{{ _('Popular') }}</a></li>
    <li><a class="dropdown-item" href="/home/{{ sort }}/all">{{ _('All') }}</a></li>
  </ul>
</div>